---
import { Canvas } from "@/components/Canvas";
import Layout from "@/layouts/Layout.astro";

import path from "path";
import fs from "fs";

import { ValidateData } from "../../utils/validator";

export async function getStaticPaths() {
  const filePath = path.join(path.resolve(), "data/data-partisipan.json");

  if (!fs.existsSync(filePath))
    throw new Error(
      "Tidak ada file data-partisipan.json di folder data! Silahkan cek kembali apabila file tersebut sudah ditambahkan!",
    );

  const unvalidatedData = JSON.parse(fs.readFileSync(filePath, "utf8"));

  const data = await ValidateData.parseAsync(unvalidatedData);

  return data.map((participant) => ({
    params: { id: participant.qrId },
    props: participant,
  }));
}

const { name, qrId } = Astro.props;
---

<Layout title={`Kode QR sebagai hak pilih untuk ${name} | ${qrId}`}>
  <main class="flex h-screen items-center justify-center px-5">
    <div class="border p-8 flex flex-col gap-8">
      <Canvas qrId={qrId} client:load />

      <div class="flex flex-col gap-5 text-center items-center font-poppins">
        <h2 class="font-bold text-2xl">{name}</h2>

        <a
          class="text-lg font-lato bg-blue-600 text-white rounded py-1 w-[85%]"
          href={`/img/hakpilih-${qrId}.png`}
          download={`hakpilih-${qrId}.png`}>Unduh Gambar</a
        >
      </div>
    </div>
  </main>
</Layout>
