---
import Layout from "../../layouts/Layout.astro";
import path from "path";
import fs from "fs";

import { ValidateData } from "../../utils/validator";

export async function getStaticPaths() {
  const filePath = path.join(path.resolve(), "data/data-partisipan.json");

  if (!fs.existsSync(filePath))
    throw new Error(
      "Tidak ada file data-partisipan.json di folder data! Silahkan cek kembali apabila file tersebut sudah ditambahkan!"
    );

  const unvalidatedData = JSON.parse(fs.readFileSync(filePath, "utf8"));

  const data = await ValidateData.parseAsync(unvalidatedData);

  return data.map((participant) => ({
    params: { id: participant.qrId },
    props: participant
  }));
}

const { name, qrId } = Astro.props;
---

<Layout title={`Kode QR sebagai hak pilih untuk ${name} | ${qrId}`}>
  <main>
    <article class="card">
      <canvas></canvas>

      <h2>{name}</h2>

      <a
        href={`/img/hakpilih-${name}-${qrId}.png`}
        download={`hakpilih-${name}-${qrId}.png`}
        ><button>Unduh Gambar</button></a
      >
    </article>
  </main>
</Layout>

<style>
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  canvas {
    width: 13em;
    height: 13em;
  }

  .card {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  h2 {
    width: 85%;
  }

  a {
    margin-bottom: 1.3em !important;
  }
</style>

<script>
  import QRCode from "qrcode";

  const canvas = document.querySelector("canvas");

  // Mengambil pathname sebagai patokan qrId
  const qrId = location.pathname.replace("/qr/", "");

  QRCode.toCanvas(canvas, qrId, { width: 228.8 });
</script>
